<div class="row mt-3">
    <h2 class="col-12">{{ i18NPrefix + 'title' | translate }}</h2>
</div>
<div class="row mt-3">
    <app-cars-list class="col-6"></app-cars-list>
    <div class="col-6">
        <router-outlet></router-outlet>
    </div>
</div>
